@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", system-ui;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  
  --color-secondary: #02e600;
  --color-surface: #131313;
  --color-surface-container: #1f1f1f;
  --color-surface-container-low: #1b1b1b;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-highest: #353535;
}

@layer base {
  body {
    @apply bg-black text-white font-space-grotesk selection:bg-secondary selection:text-black;
  }
}

@layer utilities {
  .pixel-grid {
    background-image: radial-gradient(#353535 1px, transparent 1px);
    background-size: 32px 32px;
  }
  
  .stepped-border {
    box-shadow: 4px 4px 0px 0px #ffffff;
  }
  
  .stepped-border-secondary {
    box-shadow: 4px 4px 0px 0px #02e600;
  }

  .pixel-border-heavy {
    border: 2px solid #ffffff;
  }

  .dithered-bg {
    background-image: radial-gradient(#353535 1px, transparent 1px);
    background-size: 4px 4px;
  }

  .stepped-shadow {
    box-shadow: 4px 4px 0 0 #000000, 6px 6px 0 0 #ffffff;
  }
}
